/********************** A SAVOIR **********************
*	Utilisation de multiple de 8 pour les px		  *
*	1rem = 16px										  *
*	Ex : 8px = 0.5rem, 16px = 1rem etc				  *
/******************************************************/

/****** GLOBAL ******/
body {
	margin: 0 auto;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	/*font-family: 'Poiret One', cursive;*/
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	color: #fff;
	background-image: url(../images/background.jpg);
}

/* Class pour page active */
.current_page {
	background-color: #82ccdd;
}

.menu_mobile {
	display: none;
}

p.echo {
	text-align: center;
	font-size: 2rem;
}

/****** HEADER, FOOTER, NAV ******/

header nav, footer nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	/*background-color: rgba(255, 255, 255, 0.2);*/
	/*background-color: rgb(47, 53, 66, 0.9);*/
	background-color: rgb(128, 142, 155, 0.7);
	height: 5rem;
	margin: 1rem 16rem 3rem;
}

header nav a, footer nav a {
	padding: 0.5rem 1rem;
	margin: 0 1rem;
	text-decoration: none;
	color: #808e9b;
	background-color: #2f3542;
	width: 5rem;
	text-align: center;
}

header nav a:hover, footer nav a:hover {
	background-color: #f1f2f6;
	color: #808e9b;
}

/********** PAGE ACCUEIL **********/

h1 {
	/*font-family: 'Bungee Shade', cursive;*/
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 10rem;
	margin: 6rem 0 0 0;
	text-align: center;
	text-transform: uppercase;
}

h2.accueil {
	/*font-family: 'Bungee Outline', cursive;*/
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 4rem;
	margin: 0 0 8rem 0;
	text-align: center;
}

.description article {
	outline: 0.125rem solid #FFF;
	width: 80%;
	margin: 2rem auto;
	font-size: 2rem;
	text-align: center;
	background-color: rgb(128, 142, 155, 0.7);
}

.description article a {
	font-size: 1rem;
	padding: 0 2rem;
	list-style-type: none;
	text-decoration: none;
	color: #808e9b;
	background-color: #2f3542;
}

section.oblique {
	text-align: right;
	margin: 1rem;
	padding-bottom: 1rem;
}

/********** PAGE CV **********/

.experience, .competence, .formation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 80%;
	margin: 2rem auto;
	/*background-color: rgba(255, 255, 255, 0.2);*/
	/*background-color: rgb(47, 53, 66, 0.9);*/
	background-color: rgb(128, 142, 155, 0.7);
}

.experience h2, .competence h2, .formation h2 {
	text-align: center;
	font-size: 4rem;
	margin: 0 2rem 2rem 2rem;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}

.experience h2 {
	margin-bottom: 0;
}

.experience h3, .competence h3, .formation h3 {
	margin: 2rem auto;
	text-align: center;
}

.experience p {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	text-align: center;
	margin-top: 0;
}

.experience a {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

#cv {
	color: #82ccdd;
}

h3.titleExp {
	text-transform: uppercase;
}

h3.titleExp {
	-ms-flex-preferred-size: 40%;
	flex-basis: 40%;
	text-align: left;
}

h3.titleExpBis {
	-ms-flex-preferred-size: 45%;
	flex-basis: 45%;
	text-align: right;
}

.h3 {
	flex-basis: 100%;
}

iframe {
	margin-top: 2rem;
	outline: 0.5rem solid rgb(128, 142, 155, 0.7);
}

.contentExp {
	display: none;
}

.hide {
	display: block;
	text-align: center;
}

/********** PAGE PHOTO **********/

.bigImg {
	width: 800px;
	height: 600px;
	margin: 0 auto;
}

#miniature {
	height: 160px;
	padding-top: 1rem;
}

img.carrousel_photo {
	outline: 1rem solid rgb(128, 142, 155, 0.7);
	max-width: 100%;
	max-height: 100%;
}

figure {
	text-align: center;
}

#slider-previous {
	position: absolute;
	left: 19.25rem;
	top: 52.5rem;
	font-size: 2rem;
	color: rgb(128, 142, 155);
	background-color: transparent;
    border: none;
}

#slider-next {
	position: absolute;
	right: 19.25rem;
	top: 52.5rem;
	font-size: 2rem;
	color: rgb(128, 142, 155);
	background-color: transparent;
    border: none;
}

.imageSmall {
	outline: 0.25rem solid rgb(128, 142, 155, 0.7);
	max-width: 240px;
	height: 100%;
}

/********** PAGE VIDEO **********/

.video {
	text-align: center;
}

#showreel {
	outline: 1rem solid rgb(128, 142, 155, 0.7);
}

/********** PAGE CONTACT **********/

.container_Contact {
	text-align: center;
}

.container_Contact p {
	color: #82ccdd;
	font-weight: bold;
	font-size: 1.5rem;
}

/********** PAGE ADMIN **********/

.form_Admin {
	width: 38.75rem;
	margin: 0 auto;
	text-align: center;
}

h1.lienAdmin {
	font-size: 4rem;
}

.lienAdmin {
	text-align: center;
	margin: 0.5rem;
	text-decoration: none;
	color: #808e9b;
	background-color: #2f3542;
	padding: 0.5rem 2rem;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;

}

input[type=date], input[type=text], input[type=email] {
	margin: 0.5rem;
	padding: 0.5rem;
	width: 8.75rem;
	height: 1rem;
	border: none;
	color: #808e9b;
}

input[type=submit], input[type=reset] {
	width: 9.75rem;
	height: 2rem;
	margin: 0.5rem;
	padding: 0.5rem;
	border: none;
	color: #808e9b;
	cursor: pointer;
}

textarea {
	resize: none;
	width: 31rem; 
	height: 10.9375rem; 
	padding: 0.5rem;
	margin: 0 auto;
	border: none;
}

::-webkit-input-placeholder {
	color: #808e9b;
	text-align: center;
}

:-ms-input-placeholder {
	color: #808e9b;
	text-align: center;
}

::-ms-input-placeholder {
	color: #808e9b;
	text-align: center;
}

::placeholder {
	color: #808e9b;
	text-align: center;
}

/********** PAGE CONNECT **********/

input[type=password] {
	margin: 0.5rem;
	padding: 0.5rem;
	width: 8.75rem;
	height: 1rem;
	border: none;
	color: #808e9b;
}

/******************** VERSION RESPONSIVE ********************/

@media screen and (max-width: 480px) { 

	/********** MENU **********/

	.menu_mobile {
		display: block;
		background-color: #2f3542;
		height: 2rem;
		width: 100%;
		padding: 0.5rem 0rem;
		text-align: center;
		line-height: 2rem;
	}

	.menu {
		margin-top: -13rem;
	}

	.menu_close {
		top: 15.5rem;
		position: relative;
	}

	header nav, footer nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
	}

	header nav a, footer nav a {
		padding: 0.5rem;
		width: 100%;
	}

	/********** PAGE ACCUEIL **********/

	.description article, .portrait h1 {
		width: 95%;
	}

	h1 {
		font-size: 3rem;
		margin-top: 4rem;
	}

	h2.accueil {
		font-size: 2rem;
	}

	.description h3 {
		font-size: 1.5rem;
	}

	/********** PAGE CV **********/

	.experience, .competence, .formation {
		width: 95%;
		margin: 4rem auto;
	}

	.experience h2, .competence h2, .formation h2 {
		font-size: 2rem;
	}

	.experience a {
		font-size: 1rem;
		margin: 0;
	}

	#infos {
		display: none;
	}

	.contentExp {
		display: block;
		text-align: center;
	}

	iframe {
		width: 17.5rem;
		height: 10rem;
	}

	/********** PAGE PHOTO **********/

	.bigImg {
		margin-top: 5rem;
		width: 85%;
		height: 260px;
	}

	img.carrousel_photo {
		outline: 0.5rem solid rgb(128, 142, 155, 0.7);
	}

	#miniature {
		height: 2.5rem;
		padding-top: 1rem;
	}

	#slider-previous {
		left: 0rem;
		top: 24rem;
	}

	#slider-next {
		right: 0rem;
		top: 24rem;
	}
	
	/********** PAGE VIDEO **********/

	.video {
		margin-top: 5rem;
	}

	#showreel {
		outline: 0.5rem solid rgb(128, 142, 155, 0.7);
	}

	/********** PAGE CONTACT **********/

	.container_Contact {
		width: 95%;
		margin: 4rem auto;
	}

	.form_Contact {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.form_Contact input {
		margin: 0.5rem auto;

	}
	.form_Contact textarea {
		width: 17rem;
	}

	/********** PAGE ADMIN **********/
	
	h1.lienAdmin {
		font-size: 1rem;
		margin-top: 4rem;
	}
	
	/********** PAGE CONNECT **********/
	
	.form_Admin {
		width: 95%;
		margin: 4rem auto;
	}

	/********** PAGE ADD **********/

	.form_Admin textarea {
		width: 17rem;
	}

	fieldset {
		padding: 0rem;
	}
}

@media screen and (min-width: 481px) and (max-width: 1024px) { 

	/********** MENU **********/

	.menu_mobile {
		display: none;
	}

	header nav, footer nav {
		text-align: center;
		margin: 0rem auto 2rem;
	}

	header nav a, footer nav a {
		padding: 0.5rem;
		width: 100%;
	}

	/********** PAGE ACCUEIL **********/

	.description article, .portrait h1 {
		width: 95%;
	}

	/********** PAGE CV **********/

	.experience, .competence, .formation {
		width: 95%;
	}

	/********** PAGE PHOTO **********/
	
	.bigImg {
		width: 90%;
	}

	#miniature {
		padding-top: 1rem;
	}

	#slider-previous {
		left: 1rem;
		top: 50.5rem;
	}

	#slider-next {
		right: 1rem;
		top: 50.5rem;
	}

	/********** PAGE CONTACT **********/

	.form_Contact {
		margin-top: 2rem;
	}

	/********** PAGE ADMIN **********/
	
	h1.lienAdmin {
		font-size: 2rem;
		margin: 2rem;
	}

	/********** PAGE ADD/EDIT **********/

	.form_Admin {
		margin-top: 2rem;
	}
}