	/****** GLOBAL ******/
body {
	background-color: #f7f1e3;
	margin: 0 auto;
	font-family: 'Indie Flower', cursive;
	color: black;
}

	/****** HEADER, FOOTER, NAV ******/
header, footer {
	background-color: #808e9b/*#aaa69d*/;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 16vh;
}

header nav a, footer nav a {
	padding: 0px 32px;
	list-style-type: none;
	text-decoration: none;
	color: #808e9b;
	background-color: #1e272e/*#33d9b2*/;
	/*transition: all 1s ease-out;*/
}

header nav a:hover, footer nav a:hover {
	background-color: #fff;
	color: #808e9b/*#33d9b2*/;
}

nav {
	background-color: #808e9b/*#aaa69d*/;
	transform: skew(-15deg);
}

	/***** MAIN *****/
main {
	background-image: url(../images/fd.png);
	background-attachment: fixed;
	color: white;
}

h1.main {
	margin: 0;
	text-align: center;
}

.container2 h2 {
	border: 2px solid #FFF;
	border-bottom: none;
	margin: 0px;
	text-align: center;
}

	/***** CONTAINER 1 : DESCRIPTION ET PORTRAIT *****/

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.description {
	/*border-style: dashed solid;
	border-width: 8px;
	border-color: grey;
	padding: 16px;
	margin: 0 32px;*/
	/*flex: 1 1 75%;*/

}

.description h2 {
	border: none;
}

.portrait {
	/*border-style: dashed solid;
	border-width: 8px;
	border-color: grey;
	padding: 16px;*/
	margin: 16px 0px;
	border-radius: 50%;
	/*flex: 1 1 25%;*/
	text-align: center;
}

.portrait img {
	border-radius: 50%;
	width: 200px;
	height: auto;
}

	/***** CONTAINER 2 : CASCADE, ACTING, ARTS MARTIAUX *****/	

.container2 {
	display: flex;

}

.cascade, .acting, .artsmartiaux {
	flex: 1 1 33%;
	margin: 16px 8px;
}

.cascade article, .acting article, .artsmartiaux article {
	border: 2px solid #FFF;
	/*height: 306px;*/
	/*display: flex;*/
	
}

article {
	padding: 8px;
	text-align: center;


}
/********** PAGE CV **********/

.contentExp {
	display: none;
}

.hide {
	display: block;
}

.experience h3, .experience p {
	margin: 0.5em;
}

/********** PAGE PHOTO **********/

.container_photo {
	display: flex;
	justify-content: center;
}

img.carrousel_photo {
	border: 2px solid #FFF;
}

/********** PAGE CONTACT **********/

.container_CV {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container_CV img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.form_Contact {
	text-align: center;
	padding: 16px;
}

input {
	padding: 8px;
	width: 140px;
	border: none;
}

textarea {
	resize: none;
	width: 460px; 
	height: 175px; 
	padding: 8px;
	margin: 0 auto;
	border: none;
}

input[type=submit], input[type=reset]{
 max-width: 100%;
 padding: 8px;
 margin-right: 10px;
 cursor: pointer;
 color: #808e9b/*#33d9b2*/;
}

::placeholder {
  color: #808e9b/*#33d9b2*/;
  text-align: center;
}

/********** PAGE ADMIN **********/


.form_Admin {
	/*display: flex;
	flex-direction: column;*/
	/*align-content: center;*/
	width: 620px;
	margin: 0 auto;
	text-align: center;
	padding: 16px;
}








